.Burger {
  width: 100%;
  margin: auto;
  height: 600px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  overflow-y: auto;
  white-space: nowrap;

  @media (min-width: 500px) and (max-height: 400px) {
    width: 350px;
    height: 300px;
  }

  @media (min-width: 500px) and (min-height: 400px) {
    width: 450px;
    height: 400px;
  }

  @media (min-width: 1000px) and (min-height: 700px) {
    width: 700px;
    height: 600px;
  }

  .IngredientsWrapper {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 80%;
    height: 80%;
  }
}
